.plans {
  & .plans__head {
    justify-content: center;
    text-align: center;
  }

  & .plans__wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 56px;
    flex-wrap: wrap;
  }

  @media (max-width: 1023px) {
    & .plans__wrap {
      display: none;
    }
  }
}
