.reset-password {
  display: flex;
  flex-direction: column;
  gap: 14px;

  & .reset-password__form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 12px;

    & .platform-field {
      flex: 0 1 320px;
    }
  }
}
