.students-table {
  display: flex;
  flex-direction: column;
  gap: 18px;

  & .students-table__bar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
  }

  & .students-table__search {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    flex-wrap: wrap;

    & .platform-field {
      flex: 0 1 300px;
    }
  }
}
